div {
	border: solid;
	margin: 5px;
}



h1 {

	visibility: visible;
}

 #second {

	visibility: visible;

	}
img {

	visibility: visible;
}

div {

	visibility: visible;
}

	#third > p {
	font-size: 3em;


}