div {
	border: solid;
	margin: 5px;
}

div #third > p {
	display: none;
}

h1 {

	visibility: hidden;
}

 #second {

	visibility: hidden;

	}
img {

	visibility: visible;
}

div {

	visibility: hidden;
}